.main-baner,.mb-left,.mb-right,
.btn,.item-cont,.item2,.item2 a,.item3,.pop-quest,.q-item,
.video-les,.change-video,.right-form form,
.about-block,.ab-cont,.ab-cont>div,.ab-item,.ab-item>div,
.bibl-header,.score-cont,.score-cont>div,.score-item,
.score-desc,.btn_cont{
	display: flex;
}

.main-baner,.mb-left,.mb-right,.item2,.pop-quest,
.video-les,.ab-item>div,.score-cont>div{
	justify-content: space-between;
}

.main-baner,.item-cont,.item3,.q-item,
.about-block,.ab-item,.ab-item>div{
	align-items: center;
}

.mb-left,.item-cont,.item3,.right-form form,
.about-block,.ab-cont>div,.ab-item,.score-cont,
.score-cont a,.score-desc{
	flex-direction: column;
}

/*SECTION 1*/
.main-baner{
	position: relative;
	margin-top: 60px;
  padding: 50px 0;
	background: rgb(157,187,59);
	background: linear-gradient(90deg, rgba(157,187,59,1) 0%, rgba(126,153,36,1) 100%);
  height: 360px;
}
.mb-left{
  width: 761px;
  height: 260px;
  margin-left: 120px;
  font-size: inherit;
}
.mb-left h1{
  margin: 0;
	width: 100%;
	color: #fff;
  font-size: 1.3em;
	font-weight: 700;
}
.mb-left p{
	color: #254F68;
	font-weight: 400;
  margin-left: 158px;
  width: 350px;
}
.mb-left span{
	color: #fff;
	font-weight: 600;
}
.mb-left a{
  margin-left: 158px;
}
.btn{
	font-size: 0.5em;
	width: max-content;
	border: 1px solid #B51627;
	border-radius: 40px;
	background-color: #C71523;
	justify-content: center;
	text-decoration: none;
	align-items: center;
	color: #fff;
	padding: 12px 60px;
	margin: 0 0 0 50px;
}
.btn:hover{
	border-color: #C71523;
	background-color: #e82736;
}
.btn img{
	width: 1.1em;
	margin-left: 20px;
}
.btn a{
	font-size: inherit;
}
.mb-right{
	width: 523.2px;
	height: 100%;
	position: absolute;
	right: 0;
}
.mf-left {
	position: absolute;
	width: auto;
	height: 100%;
}
.mf-right{
	position: absolute;
	width: auto;
	right: 0;
	height: 100%;
}
/*END*/

/*SECTION 2*/
.item-cont {
  background-color: #F8F8F8;
}
.item2 {
    width: 872px;
}
.item-cont .item2:first-child{
	margin: 60px 0 40px 0;
}
.item-cont .item2:last-child{
	margin: 0 0 60px 0;
}
.item2 a{
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
	width: 200px;
	height: 270px;
	text-decoration: none;
	text-align: center;
	color: #1D4359;
}
.item2 a:hover{
	-moz-box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
	-webkit-box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
	box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
}
.item3{
	justify-content: center;
	box-sizing: border-box;
	width: 200px;
	height: 250px;
	padding: 0 20px;
	background-color: #F2F2F2;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.item3:hover{
	background-color: #F8F8F8;
}
.item3 h2{
	font-size: inherit;
	font-weight: 600;
	margin-bottom: 16px;
}
.item3 div {
	border-top: 1px solid #CAD3D9;
	width: 120px;
	margin: 16px 0;
}
.item3 p{
	font-size: 0.7em;
	font-weight: 500;
	height: 40px;
}
#curses {
	background-color: #EF9300;
}
#price {
	background-color: #9DBB3B;
}
#time {
	background-color: #1C8ADB;
}
#blog {
	background-color: #A32E9C;
}
#bibl {
	background-color: #AC6951;
}
#profile {
	background-color: #C71523;
}
/*END*/

/*SECTION 3*/
.about-me div{
	margin: 0 151px 60px 182px;
}
.about-me h1{
	padding: 0.7em 54px;
	background-color: #9DBB3B;
	border-radius: 8px;
	margin: 60px 130px;
	color: #fff;
	font-weight: 600;
}
.about-me h2 {
	margin-left: 300px;
	color: #C71523;
}
.about-me h3{
	font-weight: 600;
	color: #1D4359;
	margin: 0 0 20px 0;
}
.about-me a{
	font-size: inherit;
}
.about-me ul,
.about-me h3,
.about-me p{
	margin-left: 300px;
}
.about-me p{
	text-indent: 30px;
	color: #1D4359;
	line-height: 1.6;
}
.about-me li{
	color: #1D4359;
	margin-bottom: 16px;
}
.about-me li span{
	font-size: 0.8em;
	font-weight: 300;
}
.about-me ul:last-child li{
	font-weight: 500;
}
.about-me li>p{
	margin-left: 0;
}
.about-me span{
	font-style: italic;
	font-size: 0.8em;
}
.mf-img{
	width: 235px;
	float: left;
	background-color: #D9D9D9;
	border-radius: 8px;
	margin-right: 60px;
	margin-bottom: 10px;
}
/*END*/

/*SECTION 4*/
.video-les{
	background-color: #1D4359;
}
.left-video{
	color: #fff;
	margin-top: 60px;
	margin-left: 134px;
	width: 460px;
	height: max-content;
	margin-bottom: 60px;
}
.left-video img{
	border-radius: 8px;
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	-moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.change-video{
	width: 100%;
	justify-content: center;
	margin-top: 10px;
}
.circle{
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	margin: 12px 16px;
	opacity: 0.5;
}
.circle:hover{
	opacity: 1;
}
.active{
	opacity: 1;
}
.left-video h2{
	text-align: center;
	font-weight: 500;
	padding: 0;
	margin: 20px 0 0 0;
}
.right-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	margin-top: 60px;
	margin-right: 134px;
	margin-bottom: 60px;
}
.right-form .main{
	align-items: flex-end;
}
.right-form h1{
	font-size: 0.9em;
	margin: 0 20px;
	color: #fff;
}
.right-form p{
	margin-top: 20px;
	font-size: 0.4em;
	color: #fff;
}
.right-form a{
	text-decoration: underline;
	color: #75BDFF;
	font-size: inherit;
}
.right-form form{
	margin-top: 49px;
	align-items: flex-start;
}
.main input,
.log_form input,
.reg_form input{
	box-sizing: border-box;
	outline: none;
	height: 42px;
	padding: 4px 20px;
	margin: 0 0 24px 0;
	border-radius: 8px;
	border: 1px solid #C9D4DA;
	background-color: #f2f2f2;
	width: 100%;
	color: #1D4359;
	font-size: 0.5em;
}
.main input::placeholder,
.log_form input::placeholder,
.reg_form input::placeholder{
	font-size: inherit;
	color: #3F6B85;
}
/*END*/

/*SECTION 5*/
.pop-quest{
	background-color: #F2F2F2;
	position: relative;
}
.right-dec{
	background-color: none;
	position: absolute;
	top: -1px;
	right: 0;
	width: 20%;
	z-index: -1;
}
.left-dec{
	background-color: none;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 14%;
}
.answer-div{
	width: 80%;
	margin: 60px 0 60px 60px;
	color: #3E4E5D;
	z-index: 1;
}
.answer-div h1{
	text-align: center;
	margin: 0 0 20px 0;
}
.answer-div p{
	text-indent: 30px;
	line-height: 1.4;
}
.answer-div li{
	list-style-type: decimal;
	line-height: 1.2;
	font-style: italic;
	margin: 10px 0 0 30px;
}
.question-div{
	cursor: pointer;
	-moz-box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
	-webkit-box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
	box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
	height: max-content;
	background-color: #fff;
	border-radius: 16px;
	padding: 30px;
	color: #3E4E5D;
	font-weight: 400;
	margin: 60px 60px 0 20px;
	z-index: 2;
	border-top: 20px solid #9dbb65;
	float: left;
	width: 540px;
}
.question-div h2{
	color: #9DBB3B;
	margin: 0;
	font-weight: 600;
}
.question-div h1{
	margin: 4px 0 10px 0;
	font-weight: 400;
}
.line {
	border-bottom: 1px solid #CAD3D9;
	margin-bottom: 22px;
}
.q-item{
	font-size: 0.5em;
	margin: 20px 0;
	transition-property: background-color, padding;
	transition-duration: 200ms;
}
.q-item img{
	width: 12px;
	height: 12px;
	display: none;
	margin-right: 10px;
}
.q-item:hover img{
	display: block;
	margin-bottom: 2px;
}
.q-item:hover{
	border-radius: 16px;
	background-color: #F2F2F2;
	padding: 5px 15px;
	border: 1px solid rgba(209,188,188,0.1);
	justify-content: center;
}
/*END*/

/*SECTION 6*/
.about-block{
	position: relative;
	justify-content: space-around;
	background-color: #D9D9D9;
	padding: 0 60px;
}
.about-block>img{
	width: 80px;
	margin: 40px 0 20px 0;
}
.about-block>h1{
	color: #1D4359;
	font-weight: 700;
	text-align: center;
	margin: 20px 0 5px 0;
}
.about-block>p{
	color: #3E4E5D;
	font-weight: 400;
	text-align: center;
	margin: 0;
	width: 400px;
}
.ab-cont{
	margin-top: 40px;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 40px;
}
.ab-cont>div{
	justify-content: start;
	width: inherit;
}
.ab-cont>div:first-child{
	margin: 0 20px 0 0;
}
.ab-cont>div:last-child{
	margin: 0 0 0 20px;
}
.ab-item{
	border-radius: 18px;
	border-left: 18px solid #1D4359;
	margin: 20px 0;
	background-color: #FFF;
	-moz-box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
	-webkit-box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
	box-shadow: 0px 0px 8px rgba(29, 67, 89, 0.5);
}
.ab-item span{
	margin: 5px 0 10px 0;
	color: #1d4359;
	width: 90%;
	font-size: 0.5em;
}
.ab-item>div{
	margin: 5px 0 20px 0;
	width: 90%;
}
.ab-item h2{
	font-weight: 400;
	margin: 0;
	color: #1d4359;
}
.ab-item p{
	width: 90%;
	margin: 0 0 10px 0;
	color: #3E4E5D;
	text-indent: 20px;
}
.ab-item p a{
	font-size: 0.9em;
}
.open-div{
	width: 20px;
	height: 20px;
	background-color: #9DBB3B;
	padding: 2px;
	margin: 0;
	border-radius: 4px;
}
.open-div:hover{
	background-color: #C2E15B;
}
.close-div{
	width: 20px;
	height: 20px;
	background-color: #1D4359;
	padding: 2px;
	margin: 0;
	border-radius: 4px;
}
.act{
	border-color: #9DBB3B;
}
.ab-item p{
	display: none;
	margin-bottom: 20px;
}
.close-div img{
	transform: rotate(-45deg);
}
.close-div:hover{
	background-color: #366D8D;
}
#blog-btn{
	position: absolute;
	background-color: #1D4359;
	border-color: #112F40;
	top: -21px;
	font-size: 0.8em;
	margin: 0;
}
#blog-btn:hover{
	background-color: #366D8D;
}
/*END*/

/*SECTION 7*/
.new-tabs{
	position: relative;
}
.bibl-header{
	margin: 60px 200px 10px 60px;
	align-items: flex-start;
}
.bibl-header h1{
	width: 550px;
	margin: 0 60px 0 60px;
	color: #9dbb3b;
}
.bibl-header img{
	width: 70px;
}
.new-tabs p{
	width: 580px;
	margin-left: 190px;
	margin-top: 0;
}
.new-tabs h2{
	color: #C71523;
	margin-left: 60px;
	margin-top: 60px;
}
.score-cont{
	margin: 20px 60px 60px 60px;
}
.score-cont>div{
	margin-bottom: 40px;
}
.score-item {
	width: 30%;
	font-size: 0.8em;
}
.div-line{
	border-top: 1px solid #3E4E5D;
	margin-top: 4px;
}
.score-desc{
	width: 100%;
}
.score-desc h1{
	width: 100%;
	color: #1D4359;
	margin: 4px 0;
}
.score-desc p{
	width: 100%;
	margin: 0;
	color: #3E4E5D;
}

#bibl-btn{
	background-color: #1D4359;
	border-color: #112F40;
	margin: auto;
	bottom: 0px;
}
#bibl-btn:hover{
	background-color: #366D8D;
}
/*END*/

@media screen and (max-width: 1439px){
  .main-baner{
		height: 360px;
	}
  .mb-left{
		width: 710px;
		height: 260px;
		margin-left: 55px;
		padding: 50px 0;
	}
	.mb-left p{
		margin-left: 148px;
		width: 335px;
	}
	.mb-left a {
    margin-left: 146px;
	}
	.about-me h1{
		padding: 0.7em 42px;
		margin: 60px 90px;
	}
	.about-me div{
		margin: 0 100px 60px 130px;
	}
	.about-me h2{
		margin-left: 300px;
	}
	.about-me h3{
		margin-bottom: 40px;
		margin-left: 300px;
	}
	.about-me p,
	.about-me ul{
		margin-left: 300px;
	}
	.left-video{
		width: 560px;
		margin: 60px 0 60px 60px;
	}
	.left-video h2{
		margin-top: 30px;
	}
	.right-form{
		width: 560px;
		margin: 60px 60px 60px 0;
	}
	#main-form{
		margin: auto;
	}
	.right-form p{
		margin: 20px auto;
	}
}
@media screen and (max-width: 1279px){
  .main-baner{
		height: 380px;
	}
  .mb-right{
		width: 560px;
	}
  .mb-left{
		width: 380px;
		height: 280px;
		margin-left: 40px;
	}
	.mb-left p{
		margin-left: 24px;
		width: 330px;
	}
	.mb-left a{
		margin-left: 20px;
	}
	/*SECTION 2*/
	.item-cont .item2:first-child {
			margin: 40px 0 40px 0;
		}
	.item-cont .item2:last-child {
		margin: 0 0 40px 0;
	}
	.item2 {
		width: 80%;
		padding: 0 40px;
	}
	.item2 a{
		width: 160px;
		height: 230px;
	}
	.item3{
		width: 160px;
		height: 210px;
	}
	.item3 img{
		height: 60px;
	}
	.item3 p {
    font-size: 0.7em;
	}
	.about-me h3{
		margin-bottom: 20px;
	}
	.about-me ul:last-child{
		margin-bottom: 60px;
	}
	.about-me ul,.about-me h2,.about-me h3,.about-me p{
		margin-left: 0;
	}
	.video-les{
		padding: 0;
	}
	.left-video{
		width: 440px;
	}
	.left-video h2{
		margin-top: 20px;
	}
	.right-form{
		margin: 60px 60px 0 0;
		width: 380px;
	}
	.right-form p{
		margin-top: 10px;
	}
	.ab-item h2{
		font-size: 0.7em;
	}
	.score-cont{
		margin: 20px 90px 20px 90px;
	}
}
@media screen and (max-width: 991px){
/*SECTION 1*/
  .mf-left{
		display: none;
	}
	.main-baner{
		height: 315px;
	}
	.mb-right{
		width: 280px;
	}
	.mb-left{
		height: 215px;
		padding: 50px 0;
		width: 660px;
	}
	.about-me h1{
		margin: 40px 40px;
		text-align: center;
 	}
	.about-me div {
    margin: 0 40px;
	}
	.mf-img{
		width: 200px;
		margin-right: 30px;
	}
	.about-me h3{
		margin-bottom: 20px;
	}
	.about-me ul:last-child{
		margin-bottom: 40px;
	}
	.left-video {
    width: auto%;
    padding: 0 0 0 40px;
		margin: 60px 0 0 0;
	}
	.right-form{
	width: auto%;
	margin: 60px 40px 40px 0;
}
	.right-form .main {
  align-items: center;
  width: 90%;
	height: auto;
	margin-bottom: 30px;
}
	.left-video h2{
		margin: 20px 0 20px 0;
		font-size: 0.7em;
	}
	.right-form h1{
		font-size: 0.8em;
		text-align: center;
	}
	#main-form-vid{
		margin: auto;
	}
	.right-form form{
		margin-top: 20px;
	}
	.right-form p {
    margin: 10px 0 10px 0;
    text-align: center;
    width: 100%;
	}
	.ab-cont>div:first-child{
		margin: 0 auto;
	}
	.ab-cont>div:last-child{
		display: none;
	}
	.ab-cont>div:first-child{
		margin: 0 40px;
	}
	.ab-cont>div:last-child{
		display: none;
	}
	.new-tabs{
		font-size: 1.7em;
	}
	.bibl-header{
		margin: 60px 60px 10px 60px;
	}
	.bibl-header h1{
		width: 75%;
	}
	.new-tabs>p {
    width: 50%;
	}
	.score-desc p{
		margin: 0;
	}

}

@media screen and (max-width: 945px){
	.main-baner{
		padding: 30px 0;
	}
	.mb-left{
		height: 100%;
		padding: 0;
		width: 350px;
		margin-left: 100px;
	}
	.mb-left h1{
		width: 100%;
	}
	.mb-left a{
		margin-left: 18px;
	}
	.pop-quest{
		justify-content: center;
	}
	.answer-div{
		display: none;
	}
	.pop-quest .right-dec,
	.pop-quest .left-dec{
		width: 30%;
	}
	.question-div{
		margin: 40px 0;
		width: 70%;
		display: flex;
		flex-direction: column;
	}
	.question-div .div-line{
		width: 100%;
	}
	.q-item{
		font-size: 0.6em;
		margin: 10px 0;
	}
	.question-div h1{
		font-size: 0.9em;
	}
}
@media screen and (max-width: 920px) {
	.video-les{
		flex-direction: column;
		align-items: center;
	}
	.left-video{
		padding: 0;
		width: 70%;
		margin-top: 40px;
	}
	.right-form h1{
		margin: 0;
	}
	.right-form{
		margin: 0 0 10px 0;
		width: 70%;
	}
	.right-form .main {
		padding: 0;
    width: 100%;
	}
}
@media screen and (max-width: 748px){
	.mb-left{
		margin-left: 40px;
	}
}

@media screen and (max-width: 666px){
/*SECTION 1*/
  .main-baner{
		margin-top: 40px;
		height: 180px;
	}
  .mb-left{
		width: 430px;
		height: 140px;
		margin-left: 40px;
		padding: 20px 0;
	}
	.mb-left h1{
		font-size: 1em;
	}
	.mb-left p:first-of-type{
		display: none;
	}
	.mb-left p{
		margin-left: 20px;
	}
	.mb-left a{
		font-size: 0.5em;
	}
  .mf-left{
		display: none;
	}
  .mb-right {
    width: 160px;
	}
	#first-btn{
		padding: 10px 40px;
		margin-left: 12px;
	}
	#first-btn img{
		height: 1.5em;
	}
	/*SECTION 2*/
	.item-cont .item2:first-child {
		margin: 20px 0 20px 0;
	}
	.item-cont .item2:last-child {
		margin: 0 0 20px 0;
	}
	.item3 {
		width: 100px;
		height: 100px;
		padding: 0 20px;
	}
	.item2 a{
		width: 100px;
		height: 110px;
	}
	.item3{
		width: 100px;
		height: 100px;
	}
	.item3 h2{
		font-size: 0.8em;
		margin-bottom: 5px;
	}
	.item3 img{
		height: 40px;
	}
	.item3 p, .item3 div {
	   display: none;
	}
	.about-me h1{
		font-weight: 600;
		margin: 40px 20px;
	}
	.about-me div {
    margin: 0 20px;
	}
	.mf-img{
		margin-right: 20px;
	}
	.about-me h2{
		text-align: center;
	}
	.about-me h3{
		text-align: center;
		margin-bottom: 30px;
	}
	.about-me p,.about-me ul a,.about-me ul li{
		font-size: 0.7em;
	}
	.left-video,.right-form{
		width: 90%;
	}
	.right-form{
		margin: 0;
	}
	.pop-quest .right-dec{
		z-index: 0;
	}
	.about-block > img {
    width: 60px;
	}
	.about-block {
		padding: 0 40px;
	}
	.about-block > p{
		width: 350px;
	}
	.about-block > img{
		margin: 20px 0 10px 0;
	}
	.ab-cont{
		margin-top: 20px;
	}
	.ab-item h2{
		width: 90%;
	}
	.bibl-header{
		margin: 60px 20px 10px 20px;
	}
	.open-div{
		width: 16px;
		height: 16px;
	}
	.bibl-header img {
    width: 60px;
	}
	.bibl-header h1 {
		margin: 0 20px 0 20px;
		font-size: 0.9em;
	}
	.new-tabs>p {
		margin-left: 100px;
		font-size: 0.5em;
		width: 60%;
	}
	.bibl-header img {
		z-index: -1;
	}
	.new-tabs h2 {
		font-size: 0.7em;
		margin-left: 20px;
		margin-top: 20px;
	}
	.score-cont{
		margin: 20px;
	}
	.score-desc p{
		margin: 0;
	}
}
@media screen and (max-width: 610px){
  .mb-left{
		width: 300px;
	}
	.about-me h1{
		margin: 20px 0;
		width: 100%;
		padding: 0.7em 0;
		border-radius: 0;
		font-size: 0.8em;
	}
	.about-me img{
		width: 120px;
	}
	.bibl-header h1{
		width: 100%;
		font-size: 0.7em;
	}
	.new-tabs h2{
		font-size: 0.55em;
	}
	.new-tabs>p{
		margin-left: 85px;
		font-size: 0.4em;
		width: 70%;
	}
}
@media screen and (max-width: 480px){
  .mf-right{
		right: -20px;
	}
	.mb-left{
		width: 260px;
		margin-left: 20px;
	}
	.mb-left h1{
		font-size: 22px;
	}
	.mb-left p{
		margin-left: 0;
	}
	#first-btn>img{
		height: 16px;
	}
	#first-btn{
		padding: 8px 20px;
	}
	.item3 {
		width: 80px;
		height: 80px;
		padding: 0 20px;
	}
	.item2 a{
		width: 80px;
		height: 90px;
	}
	.item3{
		width: 80px;
		height: 80px;
	}
	.item3 h2{
		font-size: 0.7em;
	}
	.about-me h2{
		font-size: 0.7em;
	}
	.about-me h3 {
    font-size: 0.6em;
    margin-bottom: 16px;
	}
	.about-me p,.about-me ul a,.about-me ul li {
    font-size: 0.6em;
	}
	.right-form form{
		margin: 20px 20px;
	}
	.left-video h2{
		font-size: 0.7em;
	}
	.about-block {
		padding: 0 20px;
	}
	.about-block > p{
		width: 300px;
	}
	.ab-cont{
		font-size: 0.8em;
	}
}
@media screen and (max-width: 376px){
	.mb-left p{
		font-size: 0.55em;
	}
	.mb-left a{
		font-size: 0.45em;
	}
	#first-btn>img{
		height: 15px;
	}

}
